.snowflakes {
    top:0px;
    left:0px;
    position:absolute;
    z-index:200;
    width:80px;
    height:80px;
    background-image: url("wood.png");
    border-radius: 10px;
}
.otherflakes {
    top:0px;
    left:0px;
    position:absolute;
    z-index:200;
    width:80px;
    height:80px;
    background-image: url("ore.png");
    border-radius: 10px;
}
.bestflakes {
    top:0px;
    left:0px;
    position:absolute;
    z-index:200;
    width:80px;
    height:80px;
    background-image: url("brick.png");
    border-radius: 10px;
}
.goldflakes {
    top:0px;
    left:0px;
    position:absolute;
    z-index:200;
    width:80px;
    height:80px;
    background-image: url("gold.png");
    border-radius: 10px;
}
.goblinflakes {
    top:0px;
    left:0px;
    position:absolute;
    z-index:200;
    width:80px;
    height:80px;
    background-image: url("goblin.png");
    border-radius: 10px;
    border: 1px solid red;
}
.goblinflakes:hover {
    border: 3px solid red;
}
body {
	background-image: url("1957793-bigthumbnail.jpg");
	background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 90%;
  height: 95%;
}
#site {
    width:75%;
    height:100%;
    margin:0 auto;
    position:relative;
    overflow:visible;

}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}


.resources-hide {
    display:none;
}

.armory-hide {
    display:none;
}
.empire-hide {
    display:none;
}


.navresources:hover {
background-color: grey;
}
.navarmory:hover {
background-color: grey;
}
.navempire:hover {
background-color: grey;
}
.smart {
  cursor: pointer;
}
.smarter {
  cursor: pointer;
}
.smartest {
  cursor: pointer;
}
.goldsmart {
  cursor: pointer;
}
.goblinsmart {
  cursor: pointer;
}